.app-flex {
    display: flex;

    &-r {
        flex-direction: row;
    }

    &-c {
        flex-direction: column;
    }

    &-o {
        justify-content: center;
        align-items: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}