
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html,
body,
ul,
li,
dl,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #296AB4;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.app-flex {
    display: flex;

    &-r {
        flex-direction: row;
    }

    &-c {
        flex-direction: column;
    }

    &-o {
        justify-content: center;
        align-items: center;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}